<h1> PPM - Project Product Management </h1>
<p>
  <a [routerLink]="['']">Home</a>
  <a [routerLink]="['products/list']">Product List</a>
  <a [routerLink]="['products/new']">Product Creation</a>
</p>
<div class="main-content">
  <div class="main-content">
    <h3>Edit Product</h3>
    <!-- <div *ngIf="errors" class="alert alert-danger">
      {{ errors }}
    </div> -->
    <form>
      <label>Title: </label><input type="text"><br>
      <br>
      <label>Price: </label><input type="text"><br>
      <br>
      <label>Imgage url: </label><input type="text"><br>
      <br>
      <input type="submit" value="update">
      <button>Cancel</button>
    </form>
  </div>
</div>
