<h1> PPM - Project Product Management </h1>
<p>
  <a [routerLink]="['']">Home</a>
  <a [routerLink]="['products']">Product List</a>
  <a [routerLink]="['new']">Product Creation</a>
</p>
<div class="main-content">
  <h3>Products List</h3>
  <div class="product" *ngFor = "let product of products">
    <img class="prod_photo" [src]="product['img']" >
    <p>{{product.title}}</p>
    <p>{{product.price}}</p>
    <button [routerLink]="['edit', product['id']]">Edit</button> <button (click)="removeProd(product._id)"> Delete</button>
  </div>
</div>
